<h1>Hovedkort</h1>
<div class="container">
    <div class="row">
        <div class="col col-md-4">
                <p class="font-weight-bold">Bold text.</p>
                <p class="font-weight-normal">Normal weight text.</p>
                <p class="font-weight-light">Light weight text.</p>
                <p class="font-italic">Italic text.</p>
                <strong>test</strong>
        </div>
        <div class="col col-md-4"><div>hå</div></div>
        <div class="col col-md-4"><div>lol</div></div>
    </div>
</div>